:root {
    --corpo: #1D232A;
    --cabeçalho: #1D232A;
    --cabeçalho-mobile: #15191C;
    --menu-lateral: #15191C;
    --cartão: #2C343A;
    --fonte: #FFFFFF;
    --fonte-alternativa: #95999C;
    --links: #0480DC;
    --botão: #0480DC;
    --sombras: 0px 4px 4px rgba(0, 0, 0, 0.16);
    --font-principal: 'Open Sans';
}

@font-face {
    font-family: 'icones';
    src: url(../font/icones.ttf);
}

body{
    background-color: var(--corpo);
    font-family: 'Open Sans', 'icones';
    color: var(--fonte);
}

@media screen and (min-width: 1440px) {
    body {
        display: grid;
        grid-template-columns: auto 1fr;
    }
}

.cabeçalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cabeçalho-mobile);
    padding: 8px 16px;
    box-shadow: var(--sombras);
}

.cabeçalho__menu i::before {
    content: "\e904";
    font-size: 24px;
}

.cabeçalho__notificação i::before  {
    content: "\e906";
    font-size: 24px;
}

.imagem__cabeçalho {
    width: 40px;
}

.cabeçalho_perfil {
    display: none;
}

@media screen and (min-width: 1440px) {
    .cabeçalho {
        background-color: var(--cabeçalho);
        display: grid;
        column-gap: 32px;
        grid-template-columns: 1fr auto;
        padding: 16px 60px;
        height: 80px;
        box-sizing: border-box;
        grid-column: 2;
    }

    .cabeçalho__menu, .imagem__cabeçalho {
        display: none;
    }

    .cabeçalho_perfil {
        display: grid;
        grid-template-columns: repeat(3, auto);
        column-gap: 8px;
        align-items: center;
        justify-self: flex-end;
        color: var(--fonte-alternativa);
        padding: 8px 32px;
        border-right: 1px solid var(--fonte-alternativa);
    }

    .cabeçalho_perfil::before {
        content: "";
        display: block;
        width: 32px;
        height: 32px;
        background-image: url("../img/profile_2.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .cabeçalho_perfil::after {
        content: "\e90D";
        color: var(--fonte);
        font-size: 1.5rem;
    }
}

.menu__lateral{
    display: flex; 
    flex-direction: column;  
    background-color: var(--menu-lateral);
    width: 75vw;
    height: 100vh; 

    position: absolute;
    left: -100vw;
    transition: .25s;
}

.menu__lateral--ativo {
    left: 0;
    transition: .25s;
}

.menu__lateral-logo {
    width: 118px;
    align-self: center;
    padding: 16px;
}

.menu__lateral-link  {
    height: 64px;
    color: var(--fonte-alternativa);
    padding-left: 64px;
    display: flex;
    align-items: center;
}

.menu__lateral-link--ativo {
    color: var(--fonte);
    padding-left: 56px;
    border-left: 8px solid var(--fonte);
}

.menu__lateral-link::before {
    content: "";
    width: 24px;
    height: 24px;
    font-size: 24px;
    position: absolute;
    left: 24px;
}

.menu__lateral-link--inicio::before { 
    content: "\e902";
}

.menu__lateral-link--vidios::before {
    content: "\e90e";
}

.menu__lateral-link--picos::before {
    content: "\e909";
}

.menu__lateral-link--integrantes::before {
    content: "\e903";
}

.menu__lateral-link--camisas::before {
    content: "\e900";
}

.menu__lateral-link--pinturas::before {
    content: "\e90a";
}

@media screen and (min-width: 1440px) {
    .menu__lateral {
        position: static;
        width: 200px;
        grid-column: 1;
        grid-row: 1/span 2;
    }
}

.principal {
    padding: 24px 16px;
    display: grid;
    gap: 16px;
}

.cartao--destaque {
    margin-bottom: 16px;
}

.titulo-pagina {
    font-size: 26px;
    font-weight: 700;
    color: #FFFFFF;
}

.titulo-secao {
    font-size: 18px;
    font-weight: 700;
}

@media screen and (min-width: 1440px) {
    .principal {
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-template-areas: 
            "titulo-pagina titulo-pagina titulo-pagina"
            "destaque-video destaque-video videos-recentes"
            "secao-videos secao-videos secao-videos"
            "produtos-recentes destaque-produtos destaque-produtos"
            "secao-produtos secao-produtos secao-produtos"
        ;
        column-gap: 32px;
        padding: 16px 60px;
        grid-column: 2;
    }

    .titulo-secao {
        grid-column: span 4;
    }
}

.cartao {
    width: 100%;
    background-color: var(--cartão);
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 0.2em;
}

.cartao-imagem--desktop {
    display: none;
}

.cartao-conteudo {
    padding: 16px;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
}

.cartao-destaque{
    font-size: 16px;
    font-weight: 400;
    grid-column: span 2;
}

.cartao-titulo {
    font-size: 18px;
    font-weight: 700;
    grid-column: span 2;
}

.cratao-perfil {
    font-size: 14px;
    font-weight: 400;
    color: var(--fonte-alternativa);
    grid-column: span 2;
}

.cartao-info {
    display: flex;
    align-items: center;
    color: var(--fonte-alternativa);
}

.cartao-info_tempo::before {
    content: "\e90c";
    margin-right: 8px;
}

.cartao-info_visualizacao::before {
    content: "\e90f";
    margin-right: 8px;
}

.cartao-botao {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--botão);
    width: 40px;
    height: 40px;
    border-radius: 0.4em;
    font-size: 14px;
    justify-self: flex-end;
}

.cartao-botao_play::before {
    content: "\e90b";
    font-size: 24px;
}

.cartao-botao-destaque {
    width: 100%;
    grid-column: span 2;
}

.cartao-botao-destaque::before {
    margin-right: 0.3em;
}

.cartao-recentes {
    display: none;
}

@media screen and (min-width: 1440px) {
    .cartao--destaque {
        margin-bottom: 0;
    }

    .cartao-imagem--mobile {
        display: none;
    }

    .cartao-botao-destaque {
        grid-column: auto;
        padding: 16px 8px;
    }

    .cartao-imagem--desktop {
        display: block;
    }

    .cartao-recentes {
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        row-gap: 24px;
        width: 256px;
        padding: 16px;
        box-sizing: border-box;
        align-self: flex-start;
    }

    .cartao-recentes .cartao-titulo {
        grid-column: auto;
    }

    .cartao__link {
        font-size: 0.8rem;
        font-weight: 600;
        color: var(--botão);
        justify-self: flex-end;
    }

    .cartao__lista {
        display: grid;
        row-gap: 16px;
        grid-column: span 2;
    }

    .cartao__item {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 8px;
    }

    .cartao__item-thumnail {
        width: 32px;
        grid-row: span 2;
    }

    .cartao__item-titulo {
        font-size: 0.9rem;
        line-height: 1.2rem;
        font-weight: 700;
    }

    .cartao__item-perfil {
        font-size: 0.8rem;
        color: var(--fonte-alternativa);
    }
}

.secao {
    display: grid;
    gap: 16px;
}

@media screen and (min-width: 1440px) {
    .secao {
        grid-template-columns: repeat(4, 1fr);
    }
    
}

.cartao-info_valor::before {
    content: "\e905";
    margin-right: 8px;
}

.cartao-botao_compra::before {
    content: "\e901";
    font-size: 24px;
}

@media screen and (min-width:1440px) {
    .destaque-video {
        grid-area: destaque-video;
    }

    .videos-recentes {
        grid-area: videos-recentes;
    }

    .secao-videos {
        grid-area: secao-videos;
    }

    .destaque-produtos {
        grid-area: destaque-produtos;
    }

    .produtos-recentes {
        grid-area: produtos-recentes;
    }

    .secao-produtos {
        grid-area: secao-produtos;
    }    
}

